.container {
    height: calc(100vh - 56px);
    background-color: #f4f4f4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%; /* Set max-width to 100% */

}

/* Nastavenie základného štýlu pre selectbox */
.custom-select {
    position: relative;
    font-family: Arial, sans-serif;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    max-width: 400px; /* Max šírka pre responsivitu */
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 1.5em;
    text-align: center;
}

/* Štýl ikony dropdown */
.custom-select::after {
    content: "\25BC"; /* ikona šípky nadol */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Štýl pre selectbox vo fokuse */
.custom-select:focus {
    border-color: #007bff; /* Modrá farba pre fokus */
    outline: none;
}

/* Štýl pre options */
.custom-select option {
    padding: 8px;
}

.add-question-container {
    width: 100%;
    max-width: 760px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.show-type-div {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
}

.item input {
    margin-right: 2rem;
}

.bold {
    font-weight: bold;
}

#message-div {
    display: none;
    text-align: center;
}

@media (max-width: 991px) {
    .container {
        padding: 2em 0;
    }
}



