.container {
    height: calc(100vh - 56px);
    background-color: #f4f4f4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    /* Set max-width to 100% */

}

#questionsTable {
    width: 100%;
}

#questionsTable_wrapper {
    padding: 2em;
    width: 100%;
}

.modal {
    display: none;
    /* Skryť modálne okno zatiaľ, kým sa nevyvolá */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    /* Povoliť posúvanie obsahu, ak je viac obsahu ako je viditeľné */
    background-color: rgba(0, 0, 0, 0.4);
    /* Stmavenie pozadia */
}

/* Štýly pre obsah modálneho okna */
.modal-content {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    /* Zarovnanie obsahu na stred */
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    /* Obsah bude mať šírku podľa svojich vnútorných elementov */

}

.question-id-cell {
    cursor: pointer;
}

.center-align {
    text-align: center;
}

.remove-image, .copy-image  {
    width: 1.3rem;
    height: 1.3rem;
}
.edit-image{
    width: 2.7rem;
    height: 2.7rem;
}

/* Zarovnanie textu na stred pre všetky <th> a <td> */
#questionsTable th,
#questionsTable td {
    text-align: center;
}

.select-boxes-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 1.5em 0;
}

.select-boxes-div select {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
}

.align-to-left {
    text-align: left;
}


@media (max-width: 991px) {
    .container {
        padding: 2em 0;
    }

    .select-boxes-div {
        flex-direction: column;
    }

    .select-boxes-div select {
        width: 80%;
    }
}

.centered-items {
    text-align: center;
}

#export_button {
    background-color: #4CAF50;
    border: 0.1em solid #1e7a32;
    border-radius: 0.4em;
    color: white;
    padding: 0.6em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
