.manual_image {
    width: 1150px;
    height: 520px;
    border: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.manual_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual_text {
    width: 1150px;
    word-wrap: break-word;
    margin-bottom: -15px;
}

.manual_text p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 767px) {
    .manual_image {
        width: 100%;
        height: auto;
    }
    .manual_text {
        width: 100%;
        height: auto;
    }
}