body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #333;
}
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
.results, .word-cloud {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
.results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.results-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.results-list li:nth-child(odd) {
    background-color: #f1f1f1;
}
.results-list li span {
    font-weight: bold;
}
.results-list li.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
.word-cloud span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: #333;
}
.word-cloud span.correct {
    color: #155724;
}
.historical-record {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #c3e6cb;
}
.historical-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.historical-list li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.historical-list li:nth-child(odd) {
    background-color: #f9f9f9;
}
header {
    margin-bottom: 20px;
}
.view-toggle {
    margin-bottom: 20px;
}
.view-toggle button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}
.view-toggle button.active {
    background-color: #0056b3;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;

    list-style: none;
}